[Unit]
Description=Auto-update check

[Service]
Type=oneshot
WorkingDirectory=%h/mirror/system/install
ExecStart=%h/mirror/system/install/autoupdate.sh
