# Copy to ~/.config/autostart/
# https://specifications.freedesktop.org/desktop-entry/latest/recognized-keys.html

[Desktop Entry]
Name=Mirror kiosk
Comment=Mirror browser in kiosk mode
Type=Application
Exec=/home/pi/mirror/system/install/browser.sh
NoDisplay=true
X-GNOME-Autostart-enabled=true
