# See https://pre-commit.com/ for usage and config

repos:

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format



# Make sure the lock file is up-to-date with pyproject.toml.
- repo: https://github.com/astral-sh/uv-pre-commit
  # uv version.
  rev: 0.9.21
  hooks:
    - id: uv-lock

- repo: local
  hooks:
  - id: pytest
    name: pytest
    language: system
    entry: uv run pytest tests
    types: [python]
    pass_filenames: false

- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.9
    hooks:
    -   id: remove-crlf
