apscheduler==3.3.1
cryptography==2.5
flask==1.1.1
google-api-python-client==1.7.11
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0
imapclient==2.0.0
peewee==3.10.0
personalcapital==1.0.1
raven[flask]==6.0.0
requests==2.20.1
tzlocal==1.2.2
#-e git+https://github.com/sarumont/py-trello.git@1325e31#egg=py-trello

# Development requirements:
pip-tools==4.1.0
pytest
pylint
