body, html {
	background: #000;
	color: #fff;
	padding: 0px;
	margin: 0px;
	width:100%;
	height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 300;
    overflow: hidden;  # no scroll bars, please
}

td {
    padding: 5px;
    vertical-align: top;
}

#content {
    margin: 20px;
}

#weather_icon_cell {
    text-align: center;
    padding-right: 10px;
}

#weather {
    float: left;
    width: 48%;
}

#datetime {
    float: right;
    width: 48%;
    text-align: right;
}

#agenda {
    float: right;
    width: 48%;
}

#agenda td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
}

#rotator {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50%;
}

#rotator_frame {
    width: 100%;
    height: 100%;
    border: none;
}

.large {
    font-size: 100px;
}

.small {
    font-size: 30px;
}

.tiny {
    font-size: 15px;
}