body, html {
	background: #000;
	color: #fff;
	padding: 0px;
	margin: 0px;
	width:100%;
	height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 300;
    overflow: hidden;  # no scroll bars, please
}

#content {
    margin: 20px;
}

#weather_icon_cell {
    text-align: center;
    padding-right: 10px;
}

#weather {
    float:left;
    width:48%;
}

#datetime {
    float:right;
    width:48%;
    text-align: right;
}

.large {
    font-size: 100px;
}

.small {
    font-size: 30px;
}
