[Unit]
Description=Mirror Application Server

[Service]
User=pi
WorkingDirectory=/home/pi/mirror
ExecStart=/home/pi/.envs/mirror/bin/flask run
Restart=on-failure

[Install]
WantedBy=multi-user.target
