@import url('fonts/montserrat/montserrat.css');

body, html {
	background: #000;
	color: #fff;
	padding: 0px;
	margin: 0px;
	width:100%;
	height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    overflow: hidden;  /* no scroll bars, please */
}

td {
    padding: 5px;
    vertical-align: top;
}

main {
    margin: 20px;
}

b,strong {
    font-weight: 700;
}

.huge {
    font-size: 100px;
}

.large {
    font-size: 45px;
}

.small {
    font-size: 15px;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hide-cursor {
    cursor: none;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
}

.hidden {
    opacity: 0;
}

#left {
    width: 46%;
    float: left;
}

#right {
    width: 50%;
    float: right;
}

#bottom {
    position: fixed;
    bottom: 10px;
    width: calc(100% - 40px); /* 20px margin on each side (???) */
    text-align: center;
}
