<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mirror</title>
    <link href="{{ url_for('static', filename='css/main.css') }}"
          rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/weather-icons.css') }}"
          rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700'
          rel='stylesheet' type='text/css'>
</head>
<body>
<div id="content">
    <div class="left">
        <weather></weather>
        <p>&nbsp;</p>
        <worth></worth>
    </div>
    <div class="right">
        <clock></clock>
        <countup label="Missionary for" date="2017-11-08"></countup>
        <div class="small">&nbsp;</div>
        <agenda></agenda>
        <div class="small">&nbsp;</div>
        <coming-up></coming-up>
    </div>
    <div id="message">
    </div>
</div>
<!-- Riot Tags -->
<script data-src="{{ url_for('static', filename='tag/weather.tag') }}" type="riot/tag"></script>
<script data-src="{{ url_for('static', filename='tag/clock.tag') }}" type="riot/tag"></script>
<script data-src="{{ url_for('static', filename='tag/countdown.tag') }}" type="riot/tag"></script>
<script data-src="{{ url_for('static', filename='tag/countup.tag') }}" type="riot/tag"></script>
<script data-src="{{ url_for('static', filename='tag/agenda.tag') }}" type="riot/tag"></script>
<script data-src="{{ url_for('static', filename='tag/coming_up.tag') }}" type="riot/tag"></script>
<script data-src="{{ url_for('static', filename='tag/worth.tag') }}" type="riot/tag"></script>

<script src="{{ url_for('static', filename='js/riot+compiler.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
    riot.mount('*')
</script>
</body>
</html>
