<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mirror</title>
    <link href="{{ url_for('static', filename='css/main.css') }}"
          rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/weather-icons.css') }}"
          rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700'
          rel='stylesheet' type='text/css'>
</head>
<body>
<div id="content">
    <div id="weather">
        <div class="large">
            <i id="weather_icon"></i>
            <span id="weather_temp"></span>°
        </div>
        <div>
            <span id="weather_summary"></span>
        </div>
        <table class="small"> <!-- 5 columns wide -->
            <tr>
                <td colspan="5">Feels like <span id="weather_feels"></span>°</td>
            </tr>
            <tr>
                <td colspan="5">
                    <i class="wi wi-strong-wind"></i>
                    <span id="weather_wind"></span><sup class="tiny">mph</sup>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <i class="wi wi-sunrise"></i>
                    <span id="weather_sunrise">sunrise</span>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <i class="wi wi-sunset"></i>
                    <span id="weather_sunset">sunset</span>
                </td>
            </tr>
            <tr><td colspan="4">&nbsp;</td></tr>
            <tr id="forecast_0">
                <td></td>
            </tr>
            <tr id="forecast_1">
                <td></td>
            </tr>
            <tr id="forecast_2">
                <td></td>
            </tr>
            <tr id="forecast_3">
                <td></td>
            </tr>
            <tr id="forecast_4">
                <td></td>
            </tr>
        </table>
    </div>
    <div id="datetime">
        <span id="time" class="large"></span><br>
        <span id="date"></span>
    </div>
    <div id="agenda">
        <br>
        <table id="agenda_items" class="small">
        </table>
    </div>
    <div id="rotator">
        <iframe id="rotator_frame"></iframe>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
