<!DOCTYPE html>
<html>

<head>
    <title>Mirror</title>
    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}">
    {# Include plugin-specific elements: #}
    {% for plugin in plugins %}
        {% for script in plugin.scripts %}
        <script src="{{ url_for(plugin.name, path=script) }}"></script>
        {% endfor %}
        {% for stylesheet in plugin.stylesheets %}
        <link rel="stylesheet" href="{{ url_for(plugin.name, path=stylesheet) }}">
        {% endfor %}
    {% endfor %}
    <script src="{{ url_for('static', path='htmx.min.js') }}"></script>
    <script src="{{ url_for('static', path='sse.js') }}"></script>
    <script src="{{ url_for('static', path='class-tools.js') }}"></script>
    {# Disable Chromium's kiosk-unfriendly Translate infobar. #}
    <meta name="google" content="notranslate">
</head>

{% from "macros.html" import add_widgets %}
{% from "macros.html" import add_widget %}

<body>
    {% if not layout.left and not layout.right and not layout.bottom %}
        <main>
            <h1>No widgets configured</h1>
            <p>The mirror is working but no widgets are configured in the configuration file.</p>
        </main>
    {% else %}
        {#
        Make the single SSE connection for the entire page.
        Widgets swap in their content in response to SSE events.
        #}
        <main hx-ext="sse" sse-connect="/events">
            <section id="left">
                {{ add_widgets(layout.left) }}
            </section>
            <section id="right">
                {{ add_widgets(layout.right) }}
            </section>
            <section id="bottom">
                {% include "rotator.html" %}
            </section>
            {{ add_widget("connectivity") }}
        </main>
    {% endif %}
</body>

</html>