<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link href="{{ url_for('static', filename='css/main.css') }}"
          rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700'
          rel='stylesheet' type='text/css'>
</head>
<body>
<div id="content">
    <div id="tasks">
        <table>
            <tr id="task_lists" class="small"></tr>
        </table>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}"></script>
<script language="JavaScript">
    $(document).ready(updateTasks())

    function updateTasks() {
        $.getJSON("/tasks", function(json) {
            var cells = "";
            for (var i = 0; i < json.items.length; i++) {
                var cell = "<td>";
                var item = json.items[i];
                cell += "<b>" + item.name + "</b><ul>";
                for (var j = 0; j < item.tasks.length; j++) {
                    cell += "<li>" + item.tasks[j].name + "</li>";
                }
                cell += "</ul></td>";
                cells += cell;
            }
            $("#task_lists").html(cells);
        });
    }
</script>
</body>
</html>