<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="{{ url_for('static', filename='css/main.css') }}"
          rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700'
          rel='stylesheet' type='text/css'>
    {% block head %} {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<script src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // Reload the page for (potentially) a new message.
        let reloadIntervalSeconds = 60;
        setTimeout(function() { nextLocation(); }, reloadIntervalSeconds * 1000);
    });

    function nextLocation() {
        let params = new URLSearchParams(document.location.search.substring(1));
        let n = params.get("n");
        let messageNumber = n ? parseInt(n) : 0;
        let next = messageNumber + 1;
        if (next > 100) {
            next = 0;
        }
        document.location.search = "?n=" + next;
    }
</script>
</body>
</html>
