<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blank</title>
</head>
<body>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // Reload the page tomorrow.
        var tomorrow = moment().add(1, 'day').startOf('day');
        var diff = tomorrow.diff(moment()) + 60 * 1000;  // + a little buffer
        console.log('reload message page ms: ' + diff);
        setTimeout(function() { location.reload(); }, diff);
    });
</script>
</body>
</html>
