{% extends "base.html" %}
{% block title %}Light the World{% endblock %}

{% block head %}
<style type="text/css">
    td {
        vertical-align: middle;
        padding: 20px;
    }

    #week {
        color: black;
        background-color: white;
        text-align: center;
        font-variant: small-caps;
    }
</style>
{% endblock %}

{% block content %}
    <p>
        <img src="{{ url_for('static', filename='img/ltw-logo.png') }}"/>
    </p>
    <table width="100%">
        <tr>
            <td id="week" width="100px">
                week<br><b>{{ week }}</b>
            </td>
            <td>
                {{ title }}<br>
                <div class="small"><br>{{ description }}</div>
            </td>
        </tr>
    </table>

{% endblock %}
